@use "sass:color";

.ripple {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;

  &_hidden {
    display: none;
  }

  &__anchor {
    display: grid;
    align-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: -50%;
    left: -50%;
    transform: translate(50%, 50%);
    pointer-events: none;
  }

  &__body {
    opacity: 0.16;
    transform: scale(0.8);
    display: block;
    border-radius: 50%;
    background-color: $color-turquoise;
    pointer-events: none;

    &_pulsate {
      animation: 1s infinite alternate-reverse RippleFocused;
    }
  }

  /* Transition Groups */

  &-enter {
    transform: scale(0.1);
    border-radius: 50%;
  }

  &-enter-active {
    transform: scale(3.1);
    border-radius: 50%;
    transition: transform 500ms;
  }

  &-enter-done {
    transform: scale(3.1);
    border-radius: 50%;
  }
}

@keyframes RippleFocused {
  from {
    transform: scale(0.7);
  }

  to {
    transform: scale(0.8);
  }
}
