@import "node_modules/nord/src/sass/nord";
@import "./components/Tabs/TabPane/TabPane.scss";

$tabs-height: 50px;
$tabs-background-color: #2e3440;
$tabs-font-color: #e5e9f0;

body {
  background-color: #434c5e;
  font-family: "Roboto", sans-serif;
}

.tabs {
  display: flex;
  position: relative;
  height: $tabs-height;
  background-color: $tabs-background-color;
  color: $tabs-font-color;
}

.tab {
  display: flex;
  align-items: center;
  padding: 0 16px;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: $nord2;
  }

  &_active {
    // color: var(--text-primary-color);
    background-color: $nord1;
  }

  &_dropdown {
    position: relative;
  }
}

.dropdown-menu {
  cursor: auto;
  z-index: 10;
  position: absolute;
  top: $tabs-height;
  left: 0;
  background: $nord4;
  padding: 10px;
  color: #212121;
}
