@import "node_modules/nord/src/sass/nord";
@import "./components/Tabs/TabPane/TabPane.scss";

$tabs-height: 40px;
//$tabs-background-color: #2e3440;
$tabs-background-color: #f6f7f9;
//$tabs-font-color: #e5e9f0;
$tabs-font-color: #002b5d;
$tabs-slider-height: 3px;
$tabs-outer-border-color: #91a1bb;
$tabs-outer-border-width: 1px;

$tab-active-background-color: #fff;
$tab-hover-background-color: #eee;

$tab-color: #91a1bb;
$tab-color-active: #002b5d;

$tab-slider-color: #21bed5;

body {
  background-color: #434c5e;
  font-family: "Open Sans", sans-serif;
}

.tabs {
  display: flex;
  position: relative;
  height: $tabs-height;
  color: $tabs-font-color;
  border: $tabs-outer-border-width solid $tabs-outer-border-color;
  background-color: $tabs-background-color;
  box-sizing: border-box;

  &-slider {
    height: 3px;
    width: 50px;
    background: $tab-slider-color;
    position: absolute;
    z-index: 1;
    top: $tabs-height - $tabs-outer-border-width - $tabs-slider-height;
    user-select: none;
    will-change: left;
    left: 0;
    transition: left 0.3s ease;
  }
}

.tab {
  display: flex;
  align-items: center;
  padding: 0 32px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  user-select: none;
  color: $tab-color;
  transition: color 0.2s ease;

  &:hover {
    background-color: $tab-hover-background-color;
  }

  &_active {
    color: $tabs-font-color;
    background-color: $tab-active-background-color;
  }

  &_dropdown {
    position: relative;
  }
}

.dropdown-menu {
  cursor: auto;
  z-index: 10;
  position: absolute;
  top: $tabs-height;
  left: 0;
  background: $nord4;
  padding: 10px;
  color: #212121;
}
